$primary-color:#578BF2;
$bg-light:#0a1245;
$pc-rgba-semi-transparent:rgba(83, 191, 157, 0.5);
$bg-rgba-semi-transparent:rgba(5, 9, 36, 0.95);
$bg-color:#050924;
$white-shade:#DBE9F4;
$grey-shade:#96a5b1;
$transition:0.5s;
$navbar-size:64px;